.footer {
    width: 100%;
    padding: 6rem 3rem;
    background-color: rgba(19,19,19,0.8);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}

.location, .phone, .email {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

.location p, .phone p, .email p {
    line-height: 30px;
    color: #fff;
}

.left {
    display: flex;
    max-width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;    
}

.right {
    display: flex;
    height: 100%;
    max-width: 100%;
    padding: 1rem;
    flex-direction: column;
}

.social {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.social a {
    transition: transform 0.3s ease;
}

.social a:hover {
    transform: translateY(-3px);
}

h4 {
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
    color: #fff;
}

p {
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.6;
}

@media screen and (max-width: 640px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}