
label {
    color: #fff;
    margin-bottom: 0.5rem;
    font-weight: 500;
}


form {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin: auto;
    max-width: 600px;
    position: relative; 
    z-index: 1;
}


form input,
form textarea {
    padding: 12px 18px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #f4f4f4;
    position: relative; 
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    outline: none; 
}

form input::placeholder,
form textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

form input:focus,
form textarea:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
}


form textarea {
    resize: vertical; 
    min-height: 120px;
}

form .btn {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d1beb0;
    color: black;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form .btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

form input,
form textarea,
form .btn {
    pointer-events: auto;
}
