.hero-img {
    width: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 60vh;
    position: relative;
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.hero-img::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-img h1 {
    font-size: 3rem;
    color: #fff;
}

.hero-img p {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 640px) {
    .hero-img h1 {
        font-size: 1.8rem;
    }
}