.header {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background: transparent; 
  transition: background-color 0.4s ease;
  z-index: 10;
}

.header-bg{
    background-color: rgba(0, 0, 0, 0.85);
    transition: 0.5s;
}

.header h1 {
    color: #fff;
    font-size: 2rem;
}

.navbar-menu {
  display: flex;
  flex-direction: row;  
  align-items: center;
  list-style: none; 
  margin: 0;
  padding: 0;
  gap: 1.5rem;          
}

.navbar-menu li {
  padding: 0 1rem;
}

.navbar-menu.active {
    left: 0;
}

.navbar-menu a {
  font-weight: 500;
  font-size: 1.2rem;
}

.navbar-menu a:hover {
  color: #d1beb0;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 1040px) {
    .navbar-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 10;
        transition: 0.5s;
    }

    .navbar-menu.active {
        left: 0;
    }
    .navbar-menu li {
        padding: 1rem 0;
    }
    .navbar-menu a {
        font-size: 2rem;
    }
    .hamburger-menu {
        display: initial;
        z-index: 10;
        cursor: pointer;
}
}