@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body {
  background: #000
}

h1, h4, p, a {
  color: #fff;
  text-decoration: none;
}   

ul{
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  border: 1px solid #fff;
  text-transform: uppercase;
  background: #d1beb0;
  color: #222;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.3s
}

.btn-light {
  background: transparent;
  color: #fff;
  padding: 12px 32px;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-light:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: 0.3s
}